<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Zion Forex</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/stylesheets/master.css">
    </head>
    <body>
        <header>
            <a href="#home" class="logo">Portfolio</a>
            <div class="toggle" onclick="toggleNav();">
            </div>
            <ul class="nav">
                <li><a href="#home" onclick="toggleNav();">Home</a></li>
                <li><a href="#about" onclick="toggleNav();">About</a></li>
                <li><a href="#services" onclick="toggleNav();">Services</a></li>
                <li><a href="#reviews" onclick="toggleNav();">Reviews</a></li>
                <li><a href="#pricing" onclick="toggleNav();">Pricing</a></li>
                <li><a href="#contact" onclick="toggleNav();">Contact</a></li>
            </ul>
        </header>

        <section class="header" id="home">
            <div class="text-container">
                <h2>Welcome to <br><span>Zion Forex.</span></h2>
                <h3>We are an RBI authorised foreign exchange dealer.</h3>
                <a href="#about" class="btn">About Us</a>
            </div>
        </section>
        <section class="about" id="about">
            <div class="title">
                <h2>About Us</h2>
            </div>
            <div class="lead">
                <div class="lead-container w50">
                    <h3>We are an RBI authorised foreign exchange dealer.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="w50">
                    <img src="../public/assets/img1.jpg" alt="currency-notes" class="img">
                </div>
            </div>
        </section>
        <section class="services" id="services">
            <div class="title light">
                <h2>Our Services</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="lead">
                <div class="services-container">
                    <img src="../public/assets/icon1.png" alt="currency-exchange">
                    <h2>Exchange</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <div class="services-container">
                    <img src="../public/assets/icon2.png" alt="currency-exchange">
                    <h2>Transfer</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <div class="services-container">
                    <img src="../public/assets/icon3.png" alt="currency-exchange">
                    <h2>Tickets</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <div class="services-container">
                    <img src="../public/assets/icon4.png" alt="currency-exchange">
                    <h2>Passport Assistance</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
            </div>
        </section>
   <!-- FOR WORK SECTION refer 20:26 -->
        <section class="reviews" id="reviews">
            <div class="title">
                <h2>Reviews</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="lead">
                <div class="review-container">
                    <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h3>Uncle John<br><span>Papa Pizzeria</span></h3>
                </div>
                <div class="review-container">
                    <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h3>Uncle John<br><span>Papa Pizzeria</span></h3>
                </div>
            </div>
        </section>
        <section class="pricing" id="pricing">
            <div class="title light">
                <h2>Pricing</h2>
            </div>
            <div class="lead">
                <div class="lead-container w50">
                    <h3>We are an RBI authorised foreign exchange dealer.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="w50">
                    <div class="currency-table">
                        <li class="item-header">
                            <div class="column currency">Currency</div>
                            <div class="column rate">Rate</div>
                        </li>
                        <li class="item-container">
                            <div class="column currency">US Dollar</div>
                            <div class="column rate">₹ 74.48</div>
                        </li>
                        <li class="item-container">
                            <div class="column currency">US Dollar</div>
                            <div class="column rate">₹ 74.48</div>
                        </li>
                        <li class="item-container">
                            <div class="column currency">US Dollar</div>
                            <div class="column rate">₹ 74.48</div>
                        </li>
                        <li class="item-container">
                            <div class="column currency">US Dollar</div>
                            <div class="column rate">₹ 74.48</div>
                        </li>
                        <li class="item-container">
                            <div class="column currency">US Dollar</div>
                            <div class="column rate">₹ 74.48</div>
                        </li>
                        <li class="item-container">
                            <div class="column currency">US Dollar</div>
                            <div class="column rate">₹ 74.48</div>
                        </li>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact" id="contact">
            <div class="title">
                <h2>Contact Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="lead">
                <div class="contact-info">
                    <h3>Contact Info</h3>
                    <div class="contact-container">
                        <div class="container">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="text">
                                <h3>Address</h3>
                                <p>105/1, Commercial Street,<br>Shivaji Nagar, Bengaluru,<br>Karnataka 560001</p>
                            </div>
                        </div>
                        <div class="container">
                            <div class="icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="text">
                                <h3>Phone</h3>
                                <p>080 2559 2079<br>+91 98450 93760</p>
                            </div>
                        </div>
                        <div class="container">
                            <div class="icon">
                                <i class="fas fa-paper-plane"></i>
                            </div>
                            <div class="text">
                                <h3>Email</h3>
                                <p>info@zionforex.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-container">
                    <form action="index.html" method="post">
                        <h3>Message Us</h3>
                        <input type="text" name="" value="" placeholder="Alex Flipnote">
                        <input type="email" name="" value="" placeholder="alex@xyz.com">
                        <textarea name="" placeholder="Your Message ..."></textarea>
                        <input type="submit" name="" value="Send">
                    </form>
                </div>
            </div>
        </section>

        <div class="copyright">
            <p>Copyright © 2020 Zion Forex. All Rights Reserved.</p>
        </div>
        <script type="text/javascript">
            window.addEventListener('scroll', function() {
                let header = document.querySelector('header');
                header.classList.toggle('sticky', window.scrollY > 0);
            });

            function toggleNav() {
                let navToggle = document.querySelector('.toggle');
                let nav = document.querySelector('.nav');
                navToggle.classList.toggle('active');
                nav.classList.toggle('active');
            }
        </script>
    </body>
</html>
