{% load static %}
<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Zion Forex</title>
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
              integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="{% static 'stylesheets/master.css' %}">
    </head>

    <body>
        <header>
            <a href="#home"
               class="logo">ZIONFOREX</a>
            <div class="toggle"
                 onclick="toggleNav();">
            </div>
            <ul class="nav">
                <li><a href="#home"
                       onclick="toggleNav();">Home</a></li>
                <li><a href="#about"
                       onclick="toggleNav();">About</a></li>
                <li><a href="#services"
                       onclick="toggleNav();">Services</a></li>
                <li><a href="#reviews"
                       onclick="toggleNav();">Reviews</a></li>
                <li><a href="#pricing"
                       onclick="toggleNav();">Pricing</a></li>
                <li><a href="#contact"
                       onclick="toggleNav();">Contact</a></li>
            </ul>
        </header>
        <section class="header"
                 id="home">
            <div class="text-container">
                <h2>Welcome to <br><span>Zion Forex.</span></h2>
                <h3>We are an RBI authorised foreign exchange dealer.</h3>
                <a href="#about"
                   class="btn">About Us</a>
            </div>
        </section>
        <section class="about"
                 id="about">
            <div class="title">
                <h2>About Us</h2>
            </div>
            <div class="lead">
                <div class="lead-container w50">
                    <h3>16 years of trusted foreign exchange services – your partner in global transactions.</h3>
                    <p>We are a trusted foreign exchange company authorized by the <b>Reserve Bank of India</b> (RBI) to
                        buy and sell foreign currencies. With over 16 years of experience in the business, we have built
                        a reputation for providing <strong>reliable, efficient, and effortless</strong> foreign exchange
                        services to individuals and businesses across Bangalore.</p>
                    <p><br />Our company was incorporated in 2006 by <strong>Mr. A H Dinesh</strong> and <strong>Mr. V
                            Ravi</strong>, both of whom have extensive experience in the foreign exchange industry.
                        Since then, we have grown to become one of the most reputed foreign exchange providers in
                        Bangalore, with a network of 3 branches across the city.</p>
                    <p><br />At our core, we believe that every customer deserves the best possible foreign exchange
                        experience. That's why we offer a range of services designed to meet the diverse needs of our
                        clients. Whether you need to buy or sell foreign currencies for personal or business purposes,
                        our team of experts is here to help you every step of the way.</p>
                    <p><br />We pride ourselves on our commitment to <strong>transparency, integrity, and customer
                            service</strong>. When you choose us as your foreign exchange provider, you can rest assured
                        that you are getting the best possible rates, with no hidden fees or charges. Our team is always
                        on hand to answer any questions you may have, and we strive to make every transaction as
                        <strong>smooth and hassle-free</strong> as possible.</p>
                    <p><br />Thank you for considering us as your foreign exchange provider. We look forward to serving
                        you soon!</p>
                </div>
                <div class="w50">
                    <img src="{% static 'assets/img1.jpg' %}"
                         alt="currency-notes"
                         class="img">
                </div>
            </div>
        </section>
        <section class="services"
                 id="services">
            <div class="title light">
                <h2>Our Services</h2>
                <p>We offer a range of services designed to meet the diverse needs of our clients.</p>
            </div>
            <div class="lead">
                <div class="services-container">
                    <img src="{% static 'assets/icon1.png' %}"
                         alt="currency-exchange">
                    <h2>Exchange</h2>
                    <p>We offer a range of foreign exchange services, including buying and selling of foreign currencies
                        for personal and business purposes. Our experienced team can help you get the best possible
                        rates. We strive to make every transaction as smooth and hassle-free as possible.</p>
                </div>
                <div class="services-container">
                    <img src="{% static 'assets/icon2.png' %}"
                         alt="currency-exchange">
                    <h2>Transfer</h2>
                    <p>We offer a convenient and secure money transfer service in partnership with Western Union. You
                        can send and receive money to and from anywhere in the world quickly and easily. Our team will
                        guide you through the process and ensure that your transaction is completed smoothly and
                        securely.</p>
                </div>
                <div class="services-container">
                    <img src="{% static 'assets/icon3.png' %}"
                         alt="currency-exchange">
                    <h2>Tickets</h2>
                    <p>We offer a hassle-free flight booking service for both domestic and international travel. Our
                        team can help you find the best flight options that fit your budget and preferences. We work to
                        provide you with competitive rates and a seamless booking experience. You can count on us to
                        help you plan your next trip with ease. </p>
                </div>
                <div class="services-container">
                    <img src="{% static 'assets/icon4.png' %}"
                         alt="currency-exchange">
                    <h2>Passport Assistance</h2>
                    <p>We offer a comprehensive passport assistance service to help you with all your passport needs.
                        Our team can help you with passport application, renewal, and other related services. You can
                        trust us to help you obtain your passport quickly and efficiently.</p>
                </div>
            </div>
        </section>
        <!-- FOR WORK SECTION refer 20:26 -->
        <section class="reviews"
                 id="reviews">
            <div class="title">
                <h2>Reviews</h2>
                <p>See what our satisfied customers have to say about our foreign exchange services. </p>
            </div>
            <div class="lead">
                <div class="review-container">
                    <p>Great rates and excellent service. I have been using their foreign exchange services for years
                        and have never been disappointed. Highly recommended!.</p>
                    <h3>Rajesh Kumar<br><span>Google Reviews</span></h3>
                </div>
                <div class="review-container">
                    <p>I needed urgent passport assistance and they were able to help me get my passport renewed quickly
                        and efficiently. Thank you for your outstanding service!</p>
                    <h3>Anjali Singh<br><span>Google Reviews</span></h3>
                </div>
            </div>
        </section>
        <section class="pricing"
                 id="pricing">
            <div class="title light">
                <h2>Pricing</h2>
            </div>
            <div class="lead">
                <div class="lead-container w50">
                    <h3>Get competitive rates for all your foreign exchange needs with us.</h3>
                    <p>As a foreign exchange company, we offer competitive rates for all our services. Our pricing
                        policies are transparent and straightforward, with no hidden fees or charges. We believe in
                        providing our customers with the best possible rates for their foreign exchange transactions,
                        whether it's for buying or selling currencies, or for sending or receiving money through our
                        money transfer services. Our experienced team can help you navigate the often complex world of
                        foreign exchange and ensure that you get the most value for your money.</p>
                    <p><br /><br /><em>[ Please note that foreign exchange rates can be volatile and may change many
                            times over the course of a day. As a result, the rates displayed on our website may differ
                            from those at a later time. If you have any questions or concerns about pricing, please do
                            not hesitate to <a href="#contact">contact</a> us for further assistance. ]</em></p>
                </div>
                <div class="w50">
                    <div class="currency-table">
                        <li class="item-header">
                            <div class="column currency">Currency</div>
                            <div class="column rate">Rate</div>
                        </li> {% for currency in currencyData %} <li class="item-container">
                            <div class="column currency">{{ currency.currency_name }}</div>
                            <div class="column rate">₹ {{ currency.buy_price }}</div>
                        </li> {% endfor %} <!-- <li class="item-container">
                            <div class="column currency">US Dollar</div>
                            <div class="column rate">₹ 74.48</div>
                        </li>
                        <li class="item-container">
                            <div class="column currency">US Dollar</div>
                            <div class="column rate">₹ 74.48</div>
                        </li>
                        <li class="item-container">
                            <div class="column currency">US Dollar</div>
                            <div class="column rate">₹ 74.48</div>
                        </li>
                        <li class="item-container">
                            <div class="column currency">US Dollar</div>
                            <div class="column rate">₹ 74.48</div>
                        </li>
                        <li class="item-container">
                            <div class="column currency">US Dollar</div>
                            <div class="column rate">₹ 74.48</div>
                        </li> -->
                    </div>
                </div>
            </div>
        </section>
        <section class="contact"
                 id="contact">
            <div class="title">
                <h2>Contact Us</h2>
                <p>Get in touch with us for all your foreign exchange, money transfer, and passport assistance needs.
                    Our team is always here to help.</p>
            </div>
            <div class="lead">
                <div class="contact-info">
                    <h3>Contact Info</h3>
                    <div class="contact-container">
                        <div class="container">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="text">
                                <h3>Address</h3>
                                <p>105/1, Commercial Street,<br>Shivaji Nagar, Bengaluru,<br>Karnataka 560001</p>
                            </div>
                        </div>
                        <div class="container">
                            <div class="icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="text">
                                <h3>Phone</h3>
                                <a href="callto:08025592079"
                                   class="disablephone">080 2559 2079</a>
                                <a href="callto:+919845093760"
                                   class="disablephone">+91 98450 93760</a>
                            </div>
                        </div>
                        <div class="container">
                            <div class="icon">
                                <i class="fas fa-paper-plane"></i>
                            </div>
                            <div class="text">
                                <h3>Email</h3>
                                <a href="mailto:info@zionforex.com">info@zionforex.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-container">
                    <form action="index.html"
                          method="post">
                        <h3>Message Us</h3>
                        <input type="text"
                               name=""
                               value=""
                               placeholder="Alex Flipnote">
                        <input type="email"
                               name=""
                               value=""
                               placeholder="alex@xyz.com">
                        <textarea name=""
                                  placeholder="Your Message ..."></textarea>
                        <input disabled
                               type="submit"
                               name=""
                               value="Send">
                    </form>
                </div>
            </div>
        </section>
        <div class="copyright">
            <p>Copyright © 2020 Zion Forex. All Rights Reserved.</p>
        </div>
        <script type="text/javascript">
            window.addEventListener('scroll', function () {
                let header = document.querySelector('header');
                header.classList.toggle('sticky', window.scrollY > 0);
            });

            function toggleNav() {
                let navToggle = document.querySelector('.toggle');
                let nav = document.querySelector('.nav');
                navToggle.classList.toggle('active');
                nav.classList.toggle('active');
            }
        </script>
    </body>

</html>